<audio autoplay>
    <source src="./sounds/laugh.wav" type="audio/wav">
</audio> 
<center>
    <p class="title blood">
        YOU ARE DEAD!
    </p>
    <p>
        I'm not even impressed... BTW, you were unable to guess the word
    </p>
    <p class="dead">
        <%= word %>
    </p>
    <p>
        <a href="/" class="blood"> Try again? C'mon, I wanna play... MWA HA HA HA! </a>
    </p>
</center>
