<center>
<p>
    I wanna play a game... MWA HA HA HA!
</p>
<% if(message === 1){ %>
    <p class="blood"> Enter valid numbers, you chicken! </p>
<% } %>
<% if(message === 2){ %>
    <p class="blood"> I do not have words with that length... My fault </p>
<% } %>
<br />
<form method="post" action="/redtorture">
    <p>
        Length o' yer word <input type="number" class="textbox" name="wordlength" placeholder="Enter the length of your word (> 1, <=29)" size=40/>
    </p>
    <p>
        Guesses <input type="number" class="textbox" name="guesses" placeholder="Enter the number of guesses (> 0, <= 16)" size=40/>
    </p>
    <br />
    <p>
        <input type="submit" class="button blood" value="Let the torture begin!"/>
    </p>
</form>
</center>
