<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Evil Hangman</title>
        <link rel="stylesheet" href="/stylesheets/estilos.css"/>
    </head>

    <body class="<%= classOfLay %>">
        <center><p class="title blood"><%= title %></p></center>
        <%- body %>
        <br />
        <hr/>
        <footer>
            © 2013 por A. Ortiz. Desarrollo de aplicaciones distibuidas
            <br />
            Modified by E. González U. - Third Quarter Exam
        </footer>
    </body>
</html>
