<audio autoplay>
    <source src="./sounds/win.wav" type="audio/wav">
</audio> 
<center>
    <p class="title blood">
        WOW! YOU DID IT!
    </p>
    <p>
        You are not that funny... This is the word you guessed
    </p>
    <p class="dead">
        <% word.forEach(function (e){ %>
            <%= e %>
        <% }); %>
    </p>
    <p>
        <a href="/" class="blood"> Try again? C'mon, I wanna play... MWA HA HA HA! </a>
    </p>
</center>
