<center>
    <br />
    <p class="guessing">
        <% guessedWord.forEach(function (e){ %>
            <%= e %>
        <% }); %>
    </p>
    <br />
    <br />
    <form method="post" action="/guessing">
        <% alphabet.forEach(function(e){ %>
            <input name="guess" type="submit" class="button blood" value="<%= e %>" />
        <% }); %>
    </form>
    <p>
        Used Letters:         
        
            <% usedAlphabet.forEach(function (e){ %>
                <s><%= e %></s>
            <% }); %>
    </p>
    <p class="title blood">
        Guesses:  
        <% for(var i = 0; i < guesses ; i++){ %>
            {
        <% } %>
    </p>

    <p>
        <a href="/" class="blood"> Chicken Out! </a>
    </p>
</center>
