@font-face {
    font-family: Diediedie;
    src: url('../fonts/DIEDIEDI.TTF');
}

@font-face {
    font-family: YouMurderer BB;
    src: url("../fonts/youmurdererbb_reg.ttf");
}

@font-face {
    font-family: Purisa;
    src: url("../fonts/Purisa.ttf"),
         url("../fonts/Purisa-Bold.ttf"),
         url("../fonts/PurisaBoldOblique.ttf"),
         url("../fonts/PurisaOblique.ttf");
}

body {
    background: #000000;
    font-family: 'Purisa';
    color: silver;
    font-size: medium;
    margin: 20px;
}

hr {
    border: 0;
    color: #B0C4DE;
    background-color: #B0C4DE;
    height: 1px;
}

table {
    border-collapse: collapse;
    border: 1px solid #000000;
    padding: 0px;
    margin-bottom: 10px;
    color: #000000;
    background: #E6E6FA;
}

td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    border: 1px solid #000000;
    padding: 10px;
    color: silver;
    background: red;
}

li {
    color: silver;
}

span {
    color: silver;
}

footer {
    font-size: 70%;
    color: silver;
    text-align: center;
}

input{
    font-family: 'Purisa';
}

input.textbox {
    color:white;
    background: red;
}

input.button{
    background:black;
}

.title {
    font-family: 'YouMurderer BB';
    font-size: 400%;
}

.guessing {
    font-family: 'Diediedie';
    font-size: 300%;
}

.dead {
    font-family: 'Diediedie';
    font-size: 500%;
}

.blood {
       color:silver;
       text-shadow:
       4px 4px 1px #300000,
       4px 5px 1px #400000,
       4px 6px 1px #500000,
       4px 7px 1px #600000,
       4px 8px 1px #700000,
       4px 9px 1px #800000,
       4px 10px 1px #900000,
       4px 11px 1px #A00000,
       4px 12px 1px #B00000,
       4px 13px 1px #C00000,
       4px 14px 1px #D00000,
       4px 15px 1px #E00000,
       4px 16px 1px #F00000,
       4px 17px 1px #FA0000,
       4px 18px 1px #FB0000,
       4px 19px 1px #FC0000,
       4px 20px 1px #FD0000,
       4px 21px 1px #FE0000,
       4px 22px 2px #FF0000;
}

.deadly {
    background-image: url('../images/splat.png');
    background-attachment:fixed;
    background-position:-250px;
}

.survived {
    background-image: url('../images/hangrope.png');    
    background-attachment:fixed;
    background-position:left;
    background-size:384px 680px; 
    background-repeat: no-repeat;
}
